@import "../../constants/colors";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: $dark-text;
}

.container {
  max-width: 400px;
  min-width: 215px;
  padding: 20px 100px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
  position: relative;
  background-color: $gray;

  @media screen and (max-width: 700px) {
    padding: 20px 50px;
  }
}

.form-title {
  margin: 10px auto;
  font-size: 28px;
}

.signup-form {
  width: 100%;
}

.hidden {
  display: none !important;
}

.label,
.radio-label,
.radio-title {
  margin: 0;
  font-size: 18px;
  height: 20px;
  width: 100%;
  padding: 20px 0 5px 0;
}

.radio-title {
  padding: 20px 0 10px 0;
}

.radio-label,
.radio-input {
  cursor: pointer;
  user-select: none;
}

.radio-input:last-of-type {
  margin-left: 25px;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 15px;
  border: 1px solid $mild-green;
  border-radius: 5px;
  font-size: 16px;

  &:focus {
    outline: none;
    border: 1px solid $dark-green;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}

.submit-button {
  color: $gray;
  font-size: 18px;
  margin-top: 40px;
  padding: 10px 5px;
  border: none;
  border-radius: 10px;
  background-color: $dark-green;
  width: 100%;
  cursor: pointer;
  user-select: none;

  &:active {
    background-color: $mild-green;
  }
}

.sub-section {
  margin: 25px 0 20px 0;
  display: flex;
  justify-content: flex-end;
}

.have-account-text,
.log-in {
  margin: 0;
  font-size: 16px;
  text-decoration: none;
}

.log-in {
  cursor: pointer;
  font-weight: 600;
  color: $dark-green;
}

.error-message {
  display: inline-block;
  color: red;
  width: auto;
  position: absolute;
  right: 0;
  margin: 5px 100px 0 0;
}
