body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  color: #433633;
  overflow-x: hidden;
}

.header {
  height: 50px;
  background-color: #006d77;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 200px;
}

@media screen and (max-width: 1100px) {
  .header {
    padding: 10px 50px;
  }
}

.label {
  margin: 0;
  font-size: 18px;
  height: 20px;
  width: 100%;
  padding: 20px 0 5px 0;
}

.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 2px 15px;
  border: 1px solid #83c5be;
  border-radius: 5px;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border: 1px solid #006d77;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.header-btn {
  display: inline-block;
  width: auto;
  padding: 10px 25px;
  color: #edf6f9;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 22px;
}

.main {
  padding: 10px 200px;
}

@media screen and (max-width: 1100px) {
  .main {
    padding: 10px 50px;
  }
}

.hidden {
  display: none !important;
}

.sub-section {
  margin: 25px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 4px 4px 15px 0 #d6d6d6;
          box-shadow: 4px 4px 15px 0 #d6d6d6;
  border-radius: 10px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.course img {
  width: 400px;
  border-radius: 10px;
  scale: 1;
}

.course img:hover {
  scale: 2;
}

.submit-button {
  color: #edf6f9;
  font-size: 14px;
  padding: 5px 15px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #006d77;
  width: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.submit-button:active {
  background-color: #83c5be;
}

.delete-button {
  color: #edf6f9;
  font-size: 14px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: #e34a6f;
  width: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.delete-button:active {
  background-color: #83c5be;
}

.course-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 25px;
  gap: 30px;
}

.subject-name {
  font-size: 24px;
  margin-bottom: 15px;
}

.professor-name {
  font-size: 16px;
}

.right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */